@charset "UTF-8";

.boardForm #boardTitle{cursor: pointer; text-align: left;} 

/*.boardList{color:#fff;}*/

.boardContent tr:last-child td{padding:70px 10px 70px 10px;}

.sub_div h1 > span{color:#ffc300;}
.boardForm{font-size: 18px; text-align: center;}
.boardForm th{border-bottom:2px #003566 solid; border-top: 2px #003566 solid;}
.boardForm td{
	border-bottom: 1px gainsboro solid;
}