@charset "UTF-8";

.boardForm{cursor: pointer; margin-top: 30px; text-align: center; width:50%;} 
.boardForm li{
	box-sizing: border-box;
	width:380px;
	height:150px;
    border: 0.0625rem solid #003566;
    border-radius: 0.375rem;
    overflow: hidden;
    padding: 1.25rem 1rem;
    display:inline-block;
    margin:5px;
    }


/*.boardList{color:#fff;}*/

.boardContent tr:last-child td{padding:70px 10px 70px 10px;}

.sub_div h1 > span{color:#ffc300;}
.boardForm{font-size: 18px; text-align: center;}
.boardForm th{border-bottom:2px #003566 solid; border-top: 2px #003566 solid;}
.boardForm td{
	border-bottom: 1px gainsboro solid;
}