@charset "UTF-8";
#wrap{margin: 100px auto; width: 1200px; border: 1px solid red; }

/*공지사항 보기*/
.searchDiv {
  display: flex; /* Flexbox를 적용하여 요소들을 수평으로 정렬 */
  align-items: center; /* 요소들을 수직 가운데 정렬 */
  height: 100px;
  line-height: 100px;
}

.searchDiv h2 {
  margin-right: 10px; /* 공지사항 제목과 검색 폼 사이의 간격을 조정 */
  margin-left: 60px;
}

.searchDiv form {
  display: flex; /* 폼 안의 input과 submit 버튼을 수평으로 정렬하기 위해 추가 */
  height: 65px;
  line-height: 100px;
  vertical-align: middle;	
}

.searchDiv input[type="text"]{
	border-bottom: 1px solid black;
	margin-left: 730px;
	margin-right: 12px;
}

.searchDiv input[type="submit"]{
	margin-top: 30px;
	height: 30px;
	width: 50px;
}

.announceTable{
	color: black;  
	margin: 0 auto; 
	border-collapse: collapse; 
	width: 90%; text-align: center;
}

.announceTable thead tr{
	border-top: 2px solid black ; 
	border-bottom: 1px solid black ; 
	height: 40px;
}

.announceTable tbody tr{
	border-bottom: 1px solid #ddd; 
	height: 40px;
}

.announceTable .announceHover:hover{text-decoration-line: underline;}
.pages{
	height: 50px;
	line-height: 50px;
    text-align: center;
    font-size: 20px;
}

.btnDiv {
	height: 50px;
	line-height: 50px;
    text-align: right;
    padding-right: 50px;
}
 
/*공지사항 등록*/
h2{margin-left: 55px;}
table tr th{vertical-align: middle;}
input[type="text"]{line-height: 30px;}
input[type="text"]:focus,
textarea:focus {
  outline: none; /* 포커스시 기본적으로 적용되는 아웃라인을 제거합니다. (선택사항) */
  border: none; /* 포커스시 border를 제거하여 보이지 않게 합니다. */
}
input[type="text"],
textarea {
  width: 100%;
  padding: 8px;
  margin-bottom: 15px;
  resize: vertical; /* 사용자가 textarea를 수직으로 조절 가능하도록 함 */
  border: none;
  margin-top:10px;
}

input[type="submit"]:hover {
  background-color: #45a049;
}