@charset "UTF-8";
#wrap{margin: 100px auto; width: 1200px; }

/*공지사항 보기*/
.searchDiv {
  display: flex; /* Flexbox를 적용하여 요소들을 수평으로 정렬 */
  justify-content: space-between;
  padding: 0px 60px 0px;
}

.searchDiv > form {
  display: flex; /* 폼 안의 input과 submit 버튼을 수평으로 정렬하기 위해 추가 */
  vertical-align: middle;
  height: 60%;
  padding-top: 30px;
}

.searchDiv form input[type="text"]{
	border: none;
	border-bottom: 1px solid black;
	margin-right: 15px;
}

.searchDiv form input[type="submit"]{
	height: 30px;
	width: 50px;
	border: none;
    border-radius: 5px;
    cursor: pointer;
	background-color: rgb(251, 189, 74);
}

.announceTable{
	color: black;  
	margin: 0 auto; 
	border-collapse: collapse; 
	width: 90%; text-align: center;
}

.announceTable thead tr{
	border-top: 2px solid black ; 
	border-bottom: 1px solid black ; 
	height: 40px;
}

.announceTable tbody tr{
	border-bottom: 1px solid #ddd; 
	height: 40px;
}

.announceTable .announceHover:hover{
	text-decoration-line: underline;}
	
.pages{
	height: 50px;
	line-height: 50px;
    text-align: center;
    font-size: 20px;
}

.announcebtnDiv {
	height: 50px;
	line-height: 50px;
    padding-right: 60px;
    text-align: right;
}

.announcebtnDiv > button{
	padding: 10px 15px;
    background-color: rgb(251, 189, 74);
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
 
/*공지사항 등록*/
.writeTable input[type="text"]:focus,
.writeTable textarea:focus {
  outline: none; /* 포커스시 기본적으로 적용되는 아웃라인을 제거합니다. (선택사항) */
  border: none; /* 포커스시 border를 제거하여 보이지 않게 합니다. */
}

.writeTable input[type="text"],
.writeTable textarea {
  width: 95%;
  padding: 8px;
  margin-bottom: 15px;
  resize: vertical; /* 사용자가 textarea를 수직으로 조절 가능하도록 함 */
  border: none;
  margin-top:10px;
  font-size: 20px;
}

.writeTable {
    width: 100%;
    border-collapse: collapse;
    font-size: 20px;
}

.writeTable th,
.writeTable td {
    padding: 10px;
    border: 1px solid #ccc;
}

/* Center align the table header */
.writeTable th {
    text-align: center;
}

.writeTable td:nth-child(1){height: 60px;}
.writeTable tr:nth-child(2) > td{height: 400px;}
.writeTable tr:nth-child(3) > td{height: 50px;}

/* Style the input and textarea */
.writeTable input[type="text"],
.writeTable textarea {
    width: 98%;
    padding: 5px;
    padding-top: 10px;
    box-sizing: border-box;
    border: none;
    border-radius: 5px;
    height: 100%;
}

.writeTable textarea {
 resize: vertical;
}
 
/* Style the buttons */
.writeAnnounceBtn,
.Listbtn {
    padding: 10px 20px;
    background-color: rgb(251, 189, 74);
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.Listbtn {
    background-color: #ccc;
    margin-left: 10px;
}

/* Center the buttons */
.writebtnDiv {
    text-align: center;
    padding: 30px 0;
}

.writebtnDiv > input[type="button"]:hover {
  background-color: rgb(255, 128, 64);
}

/*공지사항 컨텐츠*/
.viewAnnounce{padding: 20px 100px;}

.fileName{text-align: right;}